@model Course
@{
    ViewData["Title"] = "Detail";
}

<div class="col-12">
    <img src="~/assets/img/course/@Model.Image" width="300" />
</div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Name: @Model.Name</h4>
            <h4 class="card-title">Description: @Model.Description</h4>
        </div>
    </div>

</div>
<a asp-action="Index" class="btn btn-secondary">Go Back</a>



